
/* header  */
.header{
    background: #101446;
}
.header-logo img {
    width: 100px;
    margin-top:10px;
}
.header ul{
    list-style: none;
    margin-bottom: 0;
}
.header ul li{
    display: inline-block;
}
.header ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 4px 19px;
    transition: .5s;
    line-height: 63px;
}
.header ul li a:hover{
    background: #0a0c2c;
}
/* banner  */
.banner{
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    padding: 220px;
    color: #fff;
}
/* team  */
.team{
    background: #BAC1F3;
}
.team h4{
    font-size: 16px;
    margin-top: 10px;
}
.team p{
    width: 200px;
    font-size: 14px;
    margin: auto;
    margin-bottom: 20px;
}
/* about  */
.about{
    background: #C2D4EA;
}
.about p{
    font-size: 13px;
}
.about .last-p{
    font-size: 17px;
}
/* form  */
.form-contact{
    width: 300px;
}
.name{
    font-size: 12px;
    padding: 5px;
    border:2px solid #ddd;
    border-radius: 5px;
}
label{
    font-size: 14px;
    font-weight: 600;
}
.footer p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}
